/* Ensure layout covers the entire screen. */
html {
    height: 100%;
}

/* Stack toolbar and content on top of each other. */
.adjusted-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}

.left-list {
    height: 48px;
    min-height: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.user-avatar-toolbar {
    background: #bdbdbd;
    align-self:center;
    height:48px;
    width:48px;
    margin-top:5px;
    margin-left:10px;
    border-radius: 50%;
}

.mdc-list-item__start-detail {
    align-self: center;
}

.text-in-list {
    align-self: center;
}

/* Place drawer and main next to each other. */
.content {
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
}

.watchlist-star {
    font-size:22px;
}

.main {
    padding-left: 16px;
}

.mdc-grid-title {
    width: 160px;
    height: 220px;
    margin:4px;
}

.watchlist-card {
    background-size: cover;
    background-repeat: no-repeat;
    width: 160px;
    height: 220px;
    margin:4px;
}

.mdc-grid-list__tiles {
    list-style-type: none;
    padding:0;
    margin: 0;
}

.watchlist-card .mdc-card__primary,
.watchlist-card .mdc-card__actions {
    background: rgba(0, 0, 0, .4);
}