/* Ensure layout covers the entire screen. */
html {
    height: 100%;
    width: 100%;
}

/* Stack toolbar and content on top of each other. */
.adjusted-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}

.left-list {
    height: 48px;
    min-height: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.profile-list {
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    line-height: 48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#banner-button {
    margin-right: 12px;
    margin-top: 12px;
    margin-left: auto;
    margin-bottom: auto;
}

.mdc-list-item__start-detail {
    align-self: center;
}

.text-in-list {
    align-self: center;
}

/* Place drawer and main next to each other. */
.content {
    display: flex;
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
}

.watchlist-star {
    font-size: 22px;
}

.main {
    margin-left: 48px;
    width: 100%;
    box-sizing: border-box;
}

.user-card {
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: auto;
    width: 100%;
    max-width: 1586px;
    height: 60%;
    max-height: 60%;
}

.user-card .mdc-card__title,
.user-card .mdc-card__subtitle {
    margin-left: 72px;
}

.user-card .mdc-card__primary {
    position: relative;
}

.user-card .user-card__avatar {
    position: absolute;
    background: #bdbdbd;
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.user-avatar-toolbar {
    background: #bdbdbd;
    align-self: center;
    height: 48px;
    width: 48px;
    margin-top: 5px;
    margin-left: 10px;
    border-radius: 50%;
}

.user-image {
    /*max-width:100%;
    max-height:100%;
    margin: 0 auto;
    vertical-align: middle;*/
    box-sizing: border-box;
    object-fit: scale-down; /* Do not scale the image */
    object-position: 50% 50%; /* Center the image within the element */
}

.mdc-grid-title {
    width: 160px;
    height: 220px;
    margin: 4px;
}

.watchlist-card {
    background-size: cover;
    background-repeat: no-repeat;
    width: 160px;
    height: 220px;
    margin: 4px;
}

.mdc-grid-list__tiles {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-card .mdc-card__primary,
.user-card .mdc-card__actions {
    background: rgba(0, 0, 0, .4);
}