.player-wrapper {
    float: left;
}

.body {
    background-color: #7b1fa2;
}

body{
    min-width:720px; /* suppose you want minimun width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:720px;             /* As IE ignores !important it will set width as 1000px; */
}