.mdc-list-item__end-detail {
    background-color: inherit;
    color: inherit;
    text-decoration: none;
}
.light-font {
    color:#F5F5F6;
}

.search-dialog {
    display: block;
}
.search-dialog.hidden {
    display: none;
}

.square-box {
    display: inline-block;
    margin: 2px 6px 2px 1px;
    padding: 0px 5px;
    border-radius: 2px;
}

.episode-text-span {
    z-index: 5;
}

.text{
    font-family: monospace;
}

.square-box.text.mdc-toolbar__icon:last-of-type {
    padding-right: 5px;
    padding-left:5px;
}

.mdc-list-item {
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 8px;
    height: auto!important;
}

.mdc-list-item.list-item-user {
    align-items: center;
}

.episode-text-span {
    margin-top: 16px;
}

.menu-search {
    max-height: 500px;
}

.panel {
    display: none;
}

.panel.active{
    display: block;
}

.user-avatar-toolbar {
    background: #bdbdbd;
    align-self:center;
    height:48px;
    width:48px;
    margin-top:5px;
    margin-left:10px;
    border-radius: 50%;
}

.profile-list {
    height: 48px;
    min-height: 48px;
    max-height:48px;
    line-height:48px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mdc-list--avatar-list .mdc-list-item__start-detail {
    height:48px;
    width:48px;
}

.mdc-text-field {
    margin-bottom: 0;
    align-self: center;
}

.mdc-text-field--box {
    margin-left: 8px;
    background-color: rgba(0,0,0,0.15);
}

.remove-notification {
    margin-right:4px;
    padding-left:4px;
    margin-left:auto;
    vertical-align: middle;
    margin-top:-4px;
}
