:root {
    --mdc-theme-primary: #263238;
    --mdc-theme-secondary: #7b1fa2;
    --mdc-theme-secondary-light: #ae52d4;
    --mdc-theme-secondary-dark: #2e7d32;
    --mdc-theme-primary-dark: #000a12;
    --mdc-theme-primary-light: #4f5b62;
    --mdc-theme-background: #F5F5F6;
}

.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::before,
.mdc-ripple-surface.mdc-ripple-upgraded.mdc-button--primary::after {
    background-color: rgba(255, 255, 255, .2);
}